@import "tailwindcss";



@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* =========================================================
   GLOBAL / ROOT
   ========================================================= */

:root {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;

  color: #172033;
  background: #f6f8fb;
  line-height: 1.5;
  font-synthesis: none;
  @apply bg-[#f6f8fb]
  /* dark:bg-gray-900 */
}
*{
  box-sizing:border-box
}
body{
  @appy m-0 w-full
}
button,select,input,textarea{
  font:inherit;
}
button{
  cursor:pointer;
}
a{
  color:inherit;
  text-decoration:none;
}

.brand-mark{
  @apply w-9 h-9
  rounded-xl
  grid place-items-center
  text-slate-900
  font-extrabold
}

.auth-page{
  @apply min-h-[calc(100vh-4rem)]
  w-full
  bg-linear-to-br
  from-red-50
  to-amber-200
  grid
  place-items-center
  p-6
}
.auth-card{
  @apply
  min-w-0
  bg-white
  border border-slate-200
  rounded-2xl
  w-full
  max-w-117.5
  p-8
}
.auth-card.wide{
  @apply max-w-175
}
.auth-brand{
  @apply 
  text-center
  mb-6
}
.auth-brand .brand-mark{
  @apply mx-auto mb-4.5
}
.auth-brand h1{
  @apply 
  m-0 mb-1.5
}
.auth-brand p{
  @apply m-0 
  text-slate-500
}
.auth-footer{
  @apply mt-1.5
  text-center
  text-slate-500
  text-[13px]
}
.auth-footer a{
  @apply font-extrabold
  text-slate-500
}
.form{
  @apply grid gap-4
}
.form label{
  @apply
  grid gap-2
  font-bold
  text-slate-700
}
.forgot-pass{
  @apply flex justify-between
}
.form input,
.form textarea,
.form select{
  @apply
  w-full 
  border border-slate-200
  rounded-xl
  px-3 py-3 
  outline-none
  bg-white
  text-slate-500
}
.form textarea{
  @apply min-h-80
}
.form input:focus,
.form textarea:focus,
.form select:focus{
  @apply
  border-slate-500
  shadow-[0_0_0_3px_#e2e8f0]
}
.form input[type="checkbox"]{
  @apply w-4
}
.form-actions{
  @apply flex
  justify-between
  gap-2.5
}
.grid-2{
  @apply grid grid-cols-2
}
.grid-span-2{
  @apply col-span-2
}
.button{
  @apply border-0
  rounded-2xl
  px-4.5 py-2.5
  inline-flex
  justify-center
  items-center
  gap-2
  font-bold
}
.button.primary{
  @apply bg-slate-900 hover:bg-slate-600
  text-white
}
.button.secondary{
  @apply bg-slate-100
  text-slate-700
}
.button.danger{
  @apply bg-red-100
  text-red-700
}
.button.disabled{
  @apply opacity-60
  cursor-not-allowed
}
.button.logout{
  @apply bg-white
  text-black
  mt-[50%] w-full
}
.full {
  @apply w-full
}
.button-row{
  @apply flex 
  justify-between
  gap-2 
  items-center
}

.navbar{
  @apply
  w-full
  h-16 
  bg-white
  flex items-center gap-2
  border-b-4 border-black
  sticky top-0 left-0 right-0
  z-20
  px-3
}
.navbar-title{
  @apply flex-1 flex flex-col items-center justify-center
}
.navbar-user{
  @apply flex items-center gap-2
  font-semibold
}
.navbar-links{
  @apply hidden 
  md:flex
  gap-8 
  mr-5

}
.navbar-link{
  @apply box-border
  relative
  px-3 py-2
  rounded-xl
}
.navbar-link::after{
  content:"";
  @apply absolute bottom-0 left-0 h-0.5 w-0 bg-black rounded-full;
  @apply transition-[width] duration-700 ease-in-out ;
}
.navbar-link:hover::after{
  @apply w-full
}
.navbar-link.active{
  @apply bg-black
  text-white
}

.ghost-button{
  @apply flex items-center gap-2 
  border-0
  text-slate-600
  bg-transparent
}
.sidebar{
  @apply fixed left-0 top-0 z-20 
  w-48 md:w-72 
  h-screen
  p-3 
  bg-blue-950 text-white 
  transform transition-transform duration-300 ease-in-out
}
.sidebar-overlay{
  @apply fixed inset-0 z-10 bg-slate-900/50
  transition-opacity duration-300
}
.nav-link{
  @apply flex items-center gap-3
  px-3 py-3
  rounded-lg
  font-semibold
  text-slate-400
}
.nav-link:hover,
.nav-link:active{
  @apply bg-slate-800 text-white
}
.brand{
  @apply flex items-center gap-3 justify-between
  text-white
  px-2.5 py-4
}
.brand b{
  @apply block text-[17px]
}
.brand small{
  @apply block text-slate-400
}

.main{
  @apply w-screen
  p-0
}
.page{
  @apply
  md:px-50
  p-6
  md:pt-5
}
.page-heading{
  @apply
  flex flex-col md:flex-row
  justify-between
  items-start md:items-end
  gap-5
  mb-7
}
.page-heading.profile{
  @apply box-border
  flex flex-wrap
  justify-center md:justify-between 
  gap-6
  mb-2
}
.profile.btns{
  @apply box-border
  flex 
  flex-wrap 
  justify-center 
 gap-0.5
}
.page-heading h1{
  @apply mt-0 mb-1.5
  text-[30px]
  /* dark:text-slate-50 */
  tracking-[-o.6px] 
}
.page-heading p{
  @apply
  m-0 text-slate-500
}
.eyebrow{
  @apply text-xs
  uppercase
  tracking-[0.12rem]
  text-slate-500
  font-extrabold
}
.stats-grid{
  @apply grid grid-cols-1 md:grid-cols-4 gap-4
}
.stat-card,
.panel,
.outlet-card{
  @apply bg-white 
  /* dark:bg-slate-950 */
  border border-gray-900
  rounded-2xl
}
.panel>h2{
  @apply text-[30px]
  tracking-[2px]
}
.panel>h1{
  @apply text-[20px]
  tracking-[2px]
}
.stat-card{
  @apply flex justify-between
  p-5
}
.stat-card p{
  @apply m-0
  text-slate-500
  text-[13px]
}
.stat-card h2{
  @apply 
  mt-3.75 mb-0.5
  text-[26px]
  capitalize;
}
.stat-card small{
  @apply text-slate-400
}
.stat-icon{
  @apply
  w-11 h-11
  bg-slate-100
  rounded-2xl
  grid place-items-center
}
.section{
  @apply mt-7.5
}
.section-title{
  @apply flex justify-between items-center 
  mb-3.5
}
.section-title h2{
  @apply m-0;
}

.section-title p{
  @apply my-1.5
  text-slate-500
}
.card-grid{
  @apply grid grid-cols-1 md:grid-cols-4 gap-4
}

.profile-image{
  @apply
  w-36.5
  rounded-full
  overflow-hidden
  bg-red-500
}
.profile-image img {
  @apply w-full h-full object-cover
}
.outlet-card{
  @apply flex md:flex-col
  overflow-hidden
  rounded-xl
}
.outlet-card>img{
  @apply
  w-[45%] md:w-full
  h-full md:h-42.5
  object-cover md:object-fill
}
.outlet-card-body{
  @apply p-1.5 md:p-3
  md:text-2xl
}
.outlet-card-body>p{
  @apply line-clamp-2 text-[15px]
  py-0.5 md:py-2
}
.row-between{
  @apply flex
  justify-between
  gap-4.5
  pr-2 
}
.row-between>h3{
  @apply font-extrabold
  tracking-[2px]
}
.mini-meta{
  @apply flex
  flex-wrap
  gap-3
  text-slate-500
  text-xs md:text-[13px]
}
.mini-meta span{
  @apply flex 
  items-center
  gap-1
}

.badge{
  @apply inline-flex
  px-2.25 py-1
  bg-green-100
  rounded-full
  text-green-800
  text-[11px]
  capitalize;
}
.badge.gray{
  @apply bg-slate-100
  text-slate-500
}

.icon-button{
  @apply border-0
  bg-slate-50
  rounded-[9px]
  p-2
  inline-grid
  place-items-center
  text-slate-600
}
.view-arrow{
  @apply inline-flex w-full pr-3 md:pr-5
  justify-between
  items-center
  gap-2.25
  text-slate-700
  font-bold
  text-[13px]
}

/* Search */

.toolbar{
  @apply mb-4
}
.search{
  @apply bg-white
  border border-slate-200
  rounded-xl
  flex items-center
  gap-2
  px-3
  max-w-105
  text-slate-400
}
.search input{
  @apply border-0
  outline-none
  py-3
  w-full
  bg-transparent
}
.panel{
  @apply p-5
}
/* Details-grid */
.details-grid{
  @apply grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-5
}
.detail{
  @apply flex
  justify-between
  border-b
  gap-3.75
  py-3.25
  border-slate-100
}
.detail span{
  @apply text-slate-500
}
.big-number{
  @apply text-4xl
  font-extrabold
  mt-2.5 flex justify-between
}
/* Modal */

.modal-backdrop{
  @apply fixed inset-0
  bg-slate-900/50
  grid
  place-items-center
  p-5
  z-60
}
.modal{
  @apply bg-white 
  rounded-2xl
  w-full
  max-w-125
  p-5
}
.modal-header{
  @apply flex justify-between items-center
}
.modal-header h3{
  @apply m-0;
}
/* LOADER */
.loader-wrap{
  @apply min-h-65
  grid
  place-items-center
  content-center
  gap-2.5
  text-slate-500
}
.spinner{
  @apply w-7 h-7
  border-[3px]
  border-slate-200
  border-t-slate-900
  rounded-full
  animate-spin
}

.alert{
  @apply rounded-[10px]
  px-3.5 py-3
  mb-4
  text-[13px]
}
.alert.error{
  @apply bg-red-100
  text-red-800
}
.alert.success{
  @apply bg-green-100
  text-green-800
}
/* EMPTY STATE */
.empty{
  @apply text-center
  bg-white
  border border-dashed
  border-slate-900
  rounded-2xl
  px-5 py-13.75
}
.empty-icon{
  @apply bg-slate-100
  rounded-full
  w-11.25
  h-11.25
  grid
  place-items-center
  mx-auto
  text-[25px]
  text-slate-500
}
.empty h3{
  @apply mt-3.25 mb-1
}
.empty p{
  @apply text-slate-500
  mt-0 mb-4.5
}

/* TABLE */
.table-wrap{
  @apply overflow-auto
}
table{
  @apply border-collapse
  w-full 
  min-w-180
}
th,td{
  @apply text-left
  px-3
  py-3.25
  border-b border-slate-100
  text-[14px]
}
th{
  @apply text-slate-500
  text-[11px]
  uppercase
  tracking-[0.06rem]
}
.table-empty{
  @apply text-center
  p-8.75
  text-slate-400
}
.order-grid{
  @apply grid grid-cols-1 md:grid-cols-3 gap-4
}
.order-card{
  @apply
  w-full
  bg-white
  /* dark:bg-gray-900 */
  border border-gray-200
  rounded-2xl
  /* p-2 md:p-5 it is applied in the card only l */
}
.line{
  @apply  my-5 border-t border-gray-800 
  /* dark:border-slate-100 */
}
.order-card-head{
  @apply 
  flex
  items-center justify-between
}
.order-card-head>h3{
  @apply 

  text-slate-900 
  /* dark:text-slate-100 */
  font-extrabold text-lg 
}
.order-card-head>span{
  @apply inline-flex items-center 
  rounded-full
  px-2 md:px-3
  py-1
  text-xs font-medium
  bg-yellow-100 text-yellow-600
  gap-1.5 md:gap-2
  /* dark:bg-yellow-900/30 dark:text-yellow-400 */
}
.order-card-head>p{
  @apply mt-2 text-sm 
  text-gray-500 
  /* dark:text-gray-400 */
}
.circle{
  @apply w-2.5 h-2.5
  rounded-full
  bg-yellow-400
}
.order-card-customer{
  @apply
  flex items-center gap-3 justify-start
}
.order-card-customer>div{
  @apply flex-1 flex justify-between pr-2
}
.order-card-customer>span
,.order-card-address>span{
  @apply text-[20px]
}
.order-card-customer>div>p,
.order-card-address>p,
.order-summary>p,
.order-total>p{
  @apply font-semibold text-sm
  text-slate-900
  /* dark:text-slate-400 */
}
.order-card-address{
  @apply 
  flex
  items-start
  mt-2 md:mt-4
  gap-3
}
.order-summary{
  @apply flex
  justify-between 
  mt-5
  items-center
}
.order-total{
  @apply flex items-center justify-between
}
.order-total>p{
  @apply font-extrabold text-xl
}
.order-summary>p{
  @apply font-semibold text-[17px]
}
.order-details{
  @apply flex flex-col md:flex-row gap-3
}
.order-items-card{
  @apply bg-white 
}
.order-items-card>h2{
  @apply text-lg font-semibold 
}
.order-items{
  @apply divide-y divide-black
}
.order-item{
  @apply py-4 
  flex items-center justify-between
}
.payment-summary{
  @apply bg-white  
}
.payment-summary>h2,
.payment>h2{
  @apply text-lg font-semibold  mb-4
}
.subtotal,
.delivery-fee,
.discount,
.total,
.payment-method,
.payment-status{
  @apply flex justify-between
}
.total{
  @apply border-t
}
.total>span{
  @apply font-extrabold
  text-lg
}
.discount>span::first-chile,
.payment-status>span::first-child{
  @apply text-black  
}
.payment{
  @apply mt-5 space-y-3 border-t
}
.mobile-only{
  @apply block md:hidden
}
.md-only{
  @apply hidden md:block
}
.status-steps{
  @apply flex  justify-between flex-wrap gap-8 md:gap-2
}
.status-step{
  @apply flex-1 text-center p-2 md:p-1
}
.status-step span{
  @apply grid place-items-center
}
.status-step.active{
  @apply text-green-600 font-extrabold bg-green-100 rounded-lg
}
/* .order-card{
  @apply
                  w-full
                max-w-md
                bg-white dark:bg-gray-900
                border border-gray-200 dark:border-gray-700
                rounded-2xl
                p-5
                shadow-sm
                hover:shadow-md
                transition-all duration-200
                cursor-pointer
} */